In [1]:
import pandas as pd

In [4]:
distance_data = pd.read_csv("./Ndistance.txt", index_col=0)
names = {0:"A", 1:"B", 2:"C", 3:"D", 4:"E", 5: "F", 6:"G", 7:"H", 8:"I", 9:"J"}
distance_data.rename(index=names, inplace=True)
distance_data.columns = list(names.values())
distance_data

,A,B,C,D,E,F,G,H,I,J
A,0.000000,0.573975,0.683544,0.649910,0.639640,0.647706,0.655296,0.621818,0.697248,0.678636
B,0.573975,0.000000,0.583490,0.554307,0.541199,0.554307,0.546314,0.520295,0.602996,0.569288
C,0.683544,0.583490,0.000000,0.459402,0.449893,0.408297,0.434498,0.457806,0.462585,0.429194
D,0.649910,0.554307,0.459402,0.000000,0.384289,0.410788,0.278396,0.397590,0.409800,0.316258
E,0.639640,0.541199,0.449893,0.384289,0.000000,0.386076,0.363441,0.409736,0.419006,0.346237
F,0.647706,0.554307,0.408297,0.410788,0.386076,0.000000,0.382353,0.326180,0.364896,0.394958
G,0.655296,0.546314,0.434498,0.278396,0.363441,0.382353,0.000000,0.355691,0.367347,0.292517
H,0.621818,0.520295,0.457806,0.397590,0.409736,0.326180,0.355691,0.000000,0.377970,0.390244
I,0.697248,0.602996,0.462585,0.409800,0.419006,0.364896,0.367347,0.377970,0.000000,0.213942
J,0.678636,0.569288,0.429194,0.316258,0.346237,0.394958,0.292517,0.390244,0.213942,0.000000